<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    
    <title>Document</title>
</head>
<body>
    <div data-role="page" data-theme="b" id="uno">
        <div data-role="header" style="overflow:hidden;">
            <!--Aqui va la cabeza de la pagina-->
            <div data-role="navbar" data-iconpos="left">
                <ul>
                    <li><button data-icon="home"><a href="#uno">Inicio</a></button></li>
                    <li><button data-icon="user" data-theme="b"><a href="#dos">Registro</a></button></li>
                    <li><button data-icon="grid"><a href="#tres">Vistas</a></button></li>
                </ul>
            </div><!-- /navbar -->
        </div><!--header-->
        <div data-role="main" class="ui-content">
            <!--Aqui va el cuerpo de la pagina-->
            <h1>Motos Express</h1>
            <section id="login" data-role="tres">
                <header data-role="header">
                    <h1>Inicio de Sesion como administrador</h1>
                </header>
                <article data-role="content">
                   <h1>Bienvenido Administrador</h1>
                    <!--<div id="errorMsg" style="background-color:red;color: #FFFFFF;">Usuario o Contraseña no valida</div>-->
                </article>
            </section>
            <!-- Aqui nuestro dialog con el mensaje de error  -->
            <div data-role="main" class="ui-content">
                <!--Aqui va el cuerpo de la pagina-->
                
                <div class="col-lg-6">
                    <!--Formulario -->
                        <div class="row">
                            <form  action="/api/moto/registro" method="get">
                                <button type="button" id="txtRegistroMotos" name="txtRegistroMotos"><img src="https://i.ibb.co/sP7Sr7D/btnReMo.png" height="110" width="300"></button>
                            </form>
                            </div>
                            
                            <div>
                                <form action="">
                                    <button type="button" id="txtVisualizarClientes" name="txtVisualizarClientes"><img src="https://i.ibb.co/Wy7dFRT/btn-Ver-Cli.png" height="110" width="300"></button>
                                </form>
                            </div>
                    
                </div>
                <div class="col-lg-6">
                    <form action="">
                        <div class="row">
                            <button type="button" id="txtRegistroEmpleado" name="txtRegistroEmpleado"><img src="https://i.ibb.co/pZj8SMz/btnReEmp.png" height="110" width="300"></button>
                        </div>
                    </form>
                </div>
            </div><!--termina el main-->
            
        </div><!--termina el main-->
        
    </div>
</body>
</html>